div#profile-menu-div {
    float: left;
    width: 20%;
    border: 1px solid #aaaaaa;
    padding: 6px;
}

div#profile-menu-div a {
    display: block;
    padding: 4px;
    color: black;
    font-size: 0.9em;
    border: 1px solid white;
}

div#profile-menu-div a.selected, div#profile-menu-div a:hover
{
    background-color: #1e90ff;
    color: white;
}

div#profile-data-div {
    float: right;
    width: 77%;
    border: 1px solid #aaaaaa;
    margin-bottom: 35px; /*for footer*/
}

div#profile-data-div select {
    min-width: 150px;
}