div.profile-menu-div {
    float: left;
    width: 30%;
    border: 1px dashed black;
    padding: 6px;
}

div.profile-menu-div a {
    display: block;
    padding: 4px;
    color: black;
}

div.profile-menu-div a.selected 
{
    border-bottom: 1px solid #00bfff;
    font-weight: bold;
}

div.profile-data-div {
    float: right;
    width: 65%;
}

div.profile-data-div #tabs select {
    min-width: 150px;
}