body {
    font-size: 16px;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    min-width: 1000px;
}


div#content 
{
    display: block;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 210px; /*200 + 10(just for style)*/
    padding-bottom: 10px;
}

*:focus {
    outline: 0; /*remove browser selection*/
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Basic elements
-----------------------------------------------------------*/
a {
    text-decoration:none;
    color: #1e90ff;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #1e90ff;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    background-color: white;
    border: 1px solid #aaa;
    min-height: 23px;
    padding-left: 10px;
    box-sizing: border-box; /*To not increase element over 100%*/
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #1e90ff;
}

textarea {
    padding-top: 8px;
    padding-bottom: 8px;
}

.box-shadow {
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.3);
}

/* Fix JQuiery UI
-----------------------------------------------------------*/
.ui-widget
{
    font-size: 80% !important;
}

.tagit-close:hover {
    border-bottom: 0 !important;
}

.tagit-label {
    cursor: default;
}

/* For additional elements(via element create)
-----------------------------------------------------------*/
div.dialog-buttons-div {
    text-align: right;
}
div.dialog-save-div {
    text-align: right;
}

div.separate-line {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

input.ok-button {
    margin-right: 6px;
}

/* Pages-specific
-----------------------------------------------------------*/
.middle-size 
{
    margin-top: 20px;
    margin-left: 38%;
    margin-right: 38%;
}

.big-size 
{
    margin-top: 20px;
    margin-left: 12%;
    margin-right: 12%;
}

.big-size
{
    margin-top: 20px;
    margin-left: 12%;
}

form.middle-size p, form.big-size p {
    margin-top: 0;
    margin-bottom: 10px;
}

form.middle-size input[type="text"], form.middle-size input[type="password"], form.middle-size input[type="email"],
form.big-size    input[type="text"], form.big-size    input[type="password"], form.big-size    input[type="email"] {
    width: 100%;
}

.group-header 
{
    font-size: 1.1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 75%;
    border-bottom: 1px solid #aaaaaa;
}

/* Header
-----------------------------------------------------------*/
header {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

header label {
    padding: 4px;
}

header .header-opacity
{
    background-color: rgba(256,256,256, 0.9);
}

header a#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("images/logo.png") no-repeat;
    background-color: rgba(256,256,256, 0.9);
    background-position-x: 5px;
    background-position-y: 5px;
    padding: 10px;
    height: 50px;
    width: 290px;
    border-bottom: 0;
    padding: 0px;
}

header label#city-name {
    font-size: 14px;
    position: absolute;
    left: 5px;
    top: 55px;
    padding-left: 16px;
}

header div#toolbar {
    height: 30px;
    margin-top: 170px; /*200-30*/
    width: 100%;
    cursor: default;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

header div#toolbar div#post-menu {
    display: inline-flex;
    margin-left: 100px;
    height: 100%;
}

header div#toolbar div#post-menu a{
    display: inline-block;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
}

header a.right-border {
    border-right: 1px solid #aaa;
}

header a.left-border {
    border-left: 1px solid #aaa;
}

header div#toolbar div#post-menu a:hover 
{
    background-color: #1e90ff;
    color: white;
}

header div#toolbar div#user-menu {
    display: inline-flex;
    float: right;
    margin-right: 100px;
    height: 100%;
}

header a 
{
    color: black;
    display: block;
    cursor: pointer;
    height: 20px;
    margin: 5px;
    border-bottom: 2px solid transparent;
}

header a#login-button 
{
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    box-sizing: border-box;
    text-align:left;
}

header a#login-button:hover
{
    background-color: #1e90ff;
    color: white;
    border-bottom: 0;
}

header a#login-button.authorize 
{
    padding-left: 0px;
    background-image: url("images/login.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
}

header a#login-button.authorize:hover {
    background-image: url("images/login_hover.png");
}

header div#user-div div#user-quick-area 
{
    display: none;
    position: absolute;
    right: 68px;
    top: 196px;
    width: 240px;
    height: 120px;
    border: 1px solid #aaa;
    cursor: default;
    background-color: white;
    z-index: 2;
}

header div#user-div:hover div#user-quick-area {
    display: flex;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.3);
}

header div#user-div div#user-quick-area a 
{
    font-size: 0.8em;
    text-align: center;
    border-bottom: 1px solid transparent;
    text-align: left;
}

header div#user-div div#user-quick-area a:hover 
{
    border-bottom: 1px solid #1e90ff;
}

header div#user-div div#user-quick-area div#user-quick-area-left 
{
    padding: 5px;
    width: 85px;
    float: left;
}

header div#user-div div#user-quick-area div#user-quick-area-right
{
    float: right;
    width: 155px; /*240 - 85*/
}

header div#user-div div#user-quick-area #avatar 
{
    display: block;
    width: 75px;
    height: 75px;
    margin-bottom: 1px;
}

div#user-div:hover a#user-button
{
    background-color: white;
    z-index: 2;
    
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa; 
    border-left: 1px solid #aaa;  
}

header a#inbox-button, header a#user-button {
    font-weight: bold;
    text-align: center;
    border-bottom: 0;
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid transparent;
    margin-top: 2px;
    margin-bottom: 1px;
}

header a#inbox-button {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
}

header a#user-button {
    margin-right: 2px;
    margin-left: 2px;
}

header a#inbox-button:hover, header a.user-button:hover 
{
    background-color: white;
    border: 1px solid #aaa;
}