@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="big-size">
    <div id="profile-menu-div">
        <a>Сообщения</a>
        <a>Настройки аккаунта</a>
        <a>Настройки контента</a>
    </div>

    <div id="profile-data-div">
        @RenderBody()
    </div>
</div>

@Styles.Render("~/Content/Account/_ProfileLayout")
@Scripts.Render("~/bundles/Account/_ProfileLayout")