@model List<Models.Data.MessageData>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Account/_ProfileLayout.cshtml";
}

<div id="message-area-div">
    <div id="filter-div">
        <label id="new-content-filter" class="selected">Новый контент</label>
        <label class="slash">/</label>
        <label id="nofication-filter">Уведомления</label>
        <label class="slash">/</label>
        <label id="user-mail-filter">Сообщения от пользователей</label>
    </div>
    <div id="list-div">
        @Html.Action("MessageList", "Element", new { Model })
    </div>
</div>

@Styles.Render("~/Content/Pages/Account/Messages")
@Scripts.Render("~/bundles/Pages/Account/Messages")