div.post 
{
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

div.post div.post-header {
    padding: 4px;
    padding-left: 8px;
    font-size: 16px;
}

div.post div.post-content {
    padding: 8px;
}

div.post div.post-header a{
    color: black;
}

div.post div.post-header a.title:hover {
    border-bottom: 0;
}

div.post div.post-foorer
{
    background-color: #eee;
    padding: 4px;
    padding-left: 8px;
}

div.post div.post-foorer a {
    color: black;
}

div.post div.post-foorer a:hover {
    border-bottom: 0;
}

div.right-footer-area {
    float: right;
}

div.right-footer-area a {
    display: inline-block;
    width: 32px;
    height: 32px;
}

div.right-footer-area a.complain {
    background: url("images/complain.png") no-repeat;
}

div.right-footer-area a.complain:hover {
    background: url("images/complain-hover.png") no-repeat;
}