div#post-area {
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
}

div#post-title {
    font-size: 1.3em;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

div.post-content {
    padding-top: 15px;
}

/*Comments*/
div#comment-area {
    margin-top: 20px;
    margin-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
}