div#post-area {
    padding-bottom: 20px;
}

div#post-title {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

div#post-title label#title {
    font-size: 20px;
}

div.post-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Footer*/
div#post-footer 
{
    font-size: 14px;
}

div#post-footer a#reply {
    float: right;
}

/*Comments*/
div#comment-area {
    margin-top: 20px;
    margin-bottom: 160px;
}

/*Editor*/
div#editor 
{
    padding-top: 5px;
    padding-bottom: 15px;
    display: none;
}

div#editor.showed {
    display: block;
}

div#editor div#editor-footer {
    padding-top: 6px;
    padding-bottom: 20px;
}

div#editor div#editor-footer button {
    float: right;
}