div.post.simple-post {
    border-left: 2px solid #1e90ff;
}

div.post.simple-post div.post-header a.title:hover{
    color: #1e90ff;
}
div.post.simple-post div.post-foorer a:hover {
    color: #1e90ff;
}

div.post.simple-post div.post-content {
    padding: 16px;
}