div.post.video-post {
    border-left: 2px solid red;
}

div.post.video-post div.post-content {
    align: center;
}

div.post.video-post iframe 
{
    display: block;
    margin: 0 auto;
}

div.post.video-post div.post-content {
    background-color: #1b1b1b;
}

div.post.video-post div.post-header a:hover{
    color: red;
}

div.post.video-post div.post-foorer a:hover {
    color: red;
}