div.comment 
{
    display: block;
    border-left: 2px solid #1e90ff;
    min-width: 300px;
    margin-bottom: 15px;
    margin-left: -1px; /*to collapse borders*/
}

div.comment.just-added div.comment-title {
    background: rgba(0, 255, 0, 0.2);
}

div.comment-title {
    padding-left: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    background: #f5f5f5;
}

div.comment-source {
    padding: 5px;
    min-width: 20px;
}

div.raiting-area {
    display: inline-block;
    padding-right: 3px;
    float: right;
}

div.raiting-area a.comment-rating-up,
div.raiting-area a.comment-rating-down {
    color: black;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 20px;
    text-align: center;
    display: inline-block;
}

div.raiting-area a.comment-rating-up:hover {
    background: rgba(0, 255, 0, 0.2);
}

div.raiting-area a.comment-rating-down:hover {
    background: rgba(255, 0, 0, 0.2);
}

label.comment-write-label {
    padding-right: 30px;
}

div.comment-shift-area {
    margin-left: 50px;
}

div.comment-shift-area.comment-shift-area-border {
    border-left: 1px dashed #aaa;
}

div.comment-footer {
    display: block;
    font-size: 0.7em;
    padding-left: 6px;
}

div.comment-footer label.send-time {
    font-style: italic;
}

div.comment-footer a.reply {
    float: right;
}