div.raiting-area {
    display: inline-block;
    padding-right: 3px;
    float: right;
}

div.raiting-area a.rating-up,
div.raiting-area a.rating-down {
    color: black;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 20px;
    text-align: center;
    display: inline-block;
}

div.raiting-area a.rating-up:hover,
div.raiting-area a.rating-up.selected {
    background: rgba(0, 255, 0, 0.4);
}

div.raiting-area a.rating-down:hover,
div.raiting-area a.rating-down.selected {
    background: rgba(255, 0, 0, 0.4);
}

div.raiting-area label.rating {
    font-size: 16px;
}