div.tag-area 
{
    padding-right: 4px;
    padding-bottom: 10px;
    padding-top: 8px;
}

div.tag-area a {
    border: 1px solid #aaa;
    color: black;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

div.tag-area a:hover {
    background-color: #1e90ff;
    color: white;
}