div.tag-area 
{
    padding: 4px;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 8px;
}

div.tag-area a {
    border: 1px solid #555;
    color: black;
    padding: 3px;
}

div.tag-area a:hover {
    background-color: #1e90ff;
    color: white;
}