<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=RUZIK-PC\SQLEXPRESS;Initial Catalog=ZaBugromDB;Integrated Security=True" />
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>