<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)"
     name="DefaultConnection" connectionString="workstation id=ZaBugromDB.mssql.somee.com;packet size=4096;user id=120120_SQLLogin_1;pwd=hxg71vevls;data source=ZaBugromDB.mssql.somee.com;persist security info=False;initial catalog=ZaBugromDB" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>