@using Models.Data.Enums.Settings
@using ZaBugrom.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FilterSortType sortType = ViewBag.FilterSettings.SortType; //because extension methods don't work with dynamic code
}

<div id="filter-div">
    <div class="filter-tab">
        <div class="filter-tab-title">
            <label>Что показывать</label>
            <button></button>
        </div>
        <div class="check-div">
            
        </div>
    </div>
    <div class="filter-tab">
        <div class="filter-tab-title">
            <label>Источники</label>
            <button></button>
        </div>
        <div class="check-div">
            
        </div>
    </div>
    <div class="filter-tab">
        <div class="filter-tab-title">
                  <label>Сортировать</label>
                  <button></button>
              </div>
        <div class="check-div">
            
        </div>
    </div>
</div>

<div id="post-list-div">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/Pages/Home/_PostListLayout",
    "~/bundles/postManager",
    "~/bundles/videoManager")
@Styles.Render("~/Content/Pages/Home/_PostListLayout",
               "~/Content/parseData",
               "~/Content/Pages/Post/_PostLayout")