@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="right-div">
    <div id="filter-div">
        <div class="filter-tab">
            <label>Источники</label>
            <div class="filter-items-area">
                <a>About world for me</a>
                <a>Youtube</a>
                <a>LiveJournal</a>
            </div>
        </div>
    </div>
    
    <div id="post-tools-div">
        <input id="refresh" type="submit" value="" title="Обновить посты, используя фильтры"/>
        <a id="add-new-post" title="Добавить новый пост" href="@Url.Action("Index", "AddPost")"></a>
    </div>
</div>

<div id="post-list-div">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/Pages/Home/_PostListLayout",
    "~/bundles/postManager",
    "~/bundles/videoManager")
@Styles.Render("~/Content/Pages/Home/_PostListLayout",
               "~/Content/parseData",
               "~/Content/Pages/Post/_PostLayout")