@model Models.InputModels.AddContent.AddSimplePostInputModel

@{
    ViewBag.Title = "Добавить обычный пост";
    Layout = "~/Views/AddPost/_AddPostLayout.cshtml";
}

<form action="@Url.Action("AddSimplePost")" method="POST">
    <p>
        <label>Заголовок:</label>
    </p>
    <p>
        <input id="Title" name="Title" type="text" placeholder="Заголовок вашего поста" value=""/>
    </p>
    <p>
        Пост:
    </p>
    <p>
        @Html.Partial("~/Views/Element/PostEditor.cshtml")
    </p>
    <div data-create="dialog-buttons"></div>
</form>

@Styles.Render("~/Content/Pages/AddPost/AddSimplePost")
@Scripts.Render("~/Bundles/Pages/AddPost/AddSimplePost")