@model Models.InputModels.AddContent.AddSimplePostInputModel

@{
    ViewBag.Title = "Добавить обычный пост";
    Layout = "~/Views/AddPost/_AddPostLayout.cshtml";
}

<form action="@Url.Action("AddSimplePost")" method="POST">
    <p>
        <label>Заголовок:</label>
    </p>
    <p>
        <input id="Title" name="Title" type="text" placeholder="Заголовок вашего поста" value=""/>
    </p>
    <p>
        <label>Теги через запятую (Enter для разделения тегов):</label>
    </p>
    <p>
        <input type="text" id="Tags" name="Tags" value=""/>
    </p>
    <p>
        Пост:
    </p>
    <p>
        @Html.Action("PostEditor", "Element")
    </p>
    <div data-create="dialog-buttons"></div>
</form>

@Styles.Render("~/Content/Pages/AddPost/AddSimplePost")
@Scripts.Render("~/Bundles/Pages/AddPost/AddSimplePost")