<div class="post-editor-area">
    <div class="tool-area">
        <a class="bold" data-value="[b][/b]" title="Повысить содержание жира в тексте(сделать жирным)"></a>
        <a class="italic end-group" data-value="[i][/i]" title="Сделать текст более утонченным(сделать курсивом)"></a>
        <a class="link" data-value="[link src='' title='']" title="Почуствовать себя товарищем Сталиным(сделать ссылку и посылать всех туда)"></a>
        <a class="youtube" data-value="[video src='']" title="Вставить видео своих приключений или котиков(вставить видео с Youtube)"></a>
        <a class="image end-group" data-value="[img src='']" title="Сослаться на изображение с места событий(вставить картинку)"></a>
        <a class="user" data-value="@@" title="Призвать к ответу(вызвать юзера)"></a>
        <a class="quote" data-value="[quote][/quote]" title="Сделать из своего сообщения женский паблик(вставить цитату)"></a>
    </div>
    <textarea name="Source"></textarea>
</div>

@Styles.Render("~/Content/Pages/Element/PostEditor")
@Scripts.Render("~/bundles/jquery.autosize", "~/bundles/Pages/Element/PostEditor")