<div class="post-editor-area">
    <div class="tool-area">
        <a class="bold" title="Повысить содержание жира в тексте(сделать жирным)"></a>
        <a class="italic end-group" title="Сделать текст более утонченным(сделать курсивом)"></a>
        <a class="link" title="Почуствовать себя товарищем Сталиным(сделать ссылку и посылать всех туда)"></a>
        <a class="youtube" title="Вставить видео своих приключений или котиков(вставить видео с Youtube)"></a>
        <a class="image end-group" title="Сослаться на изображение с места событий(вставить картинку)"></a>
        <a class="user" title="Призвать к ответу(вызвать юзера)"></a>
        <a class="quote" title="Сделать из своего сообщения женский паблик(вставить цитату)"></a>
    </div>
    <textarea name="Source"></textarea>
</div>

@Styles.Render("~/Content/Pages/Element/PostEditor")
@Scripts.Render("~/bundles/jquery.autosize", "~/bundles/Pages/Element/PostEditor")