@model List<Models.Data.TagData>

<div class="tag-area">
    @{
        foreach (var tag in Model)
        {
            <a>@tag.Name</a>
        }
    }
</div>

@Styles.Render("~/Content/Pages/Element/TagArea")