@using ZaBugrom.Extensions
@model Models.Data.PostData

<div class="post @Html.GetPostClassByType(Model.PostType)">
    <div class="post-header"><a href="#">@Model.Title</a></div>
    <div class="post-content">
        @RenderBody()
    </div>
</div>

@Styles.Render("~/Content/Pages/Post/_PostLayout")