@model Models.Data.PostData

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="content">
        @Html.Action("Post", "Post", new { postData = Model, isRichView = false })
    </div>
</div>

@Scripts.Render("~/bundles/Pages/Post/DetailPost", "~/bundles/postManager")