@model Models.Data.PostData

@{
    Layout = "~/Views/Post/_PostLayout.cshtml";
}

<div class="post-content parse-data">
    @Model.Source
</div>

@Styles.Render("~/Content/Pages/Post/SimplePost")