@using ZaBugrom.Extensions
@model Models.Data.PostData

@{
    ViewBag.Title = "VideoPost";
    Layout = "~/Views/Post/_PostLayout.cshtml";
}

<div class="post-content">
    @Html.VideoTag(@Model.Source)
</div>

@Styles.Render("~/Content/Pages/Post/VideoPost")