div#right-div 
{
    margin: 10px;
    padding: 4px;
    position: absolute;
    right: 0;
    width: 300px;
}

div#filter-div
{
    padding: 5px;
    border: 1px solid #aaaaaa;
    background-color: white;
}





div#post-tools-div {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 5px;
    display: flex;
    background-color: white;
}

div#post-tools-div input, div#post-tools-div a
{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

div#post-tools-div input#refresh 
{
    background: url("images/refresh.png") no-repeat;
}

div#post-tools-div input#refresh:hover
{
    background: url("images/refresh_hover.png") no-repeat;
}

div#post-tools-div a#add-new-post 
{
    background: url("images/add_new_post.png") no-repeat;
}

div#post-tools-div a#add-new-post:hover
{
    background: url("images/add_new_post_hover.png") no-repeat;
}

div#post-list-div 
{
    padding-top: 13px;
}

div#post-list-div input {
    float: left;
}

div.post {
    margin-bottom: 30px;
}

div.tag-area {
    padding-left: 16px;
}