div.post {
    margin-bottom: 30px;
}

div.tag-area {
    padding-left: 16px;
}

div#filter-div {
    display: block;
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
    padding-top: 10px;
    cursor: default;
}

div#filter-div div.filter-tab 
{
    display: inline-block;
}

div.filter-tab div.filter-tab-title 
{
    padding: 3px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: -8px;
}

div.filter-tab div.filter-tab-title button
{
    border: 0;
    background-color: white;
    background-image: url("images/more-button.png");
    width: 20px;
    height: 20px;
    cursor: default;
    margin-left: -6px;
}

div#filter-div div.filter-tab:hover div.filter-tab-title {
    color: white;
    background-color: #1e90ff;
}

div#filter-div div.filter-tab:hover div.filter-tab-title button
{
    background-color: #1e90ff;
    background-image: url("images/more-button_hover.png");
}