div.profile-menu-div {
    float: left;
    width: 30%;
    border: 1px solid #aaaaaa;
    padding: 6px;
}

div.profile-menu-div a {
    display: block;
    padding: 4px;
    color: black;
}

div.profile-menu-div a.selected 
{
    border-bottom: 1px solid #00bfff;
    font-weight: bold;
}

div.profile-data-div {
    float: right;
    width: 65%;
    border: 1px solid #aaaaaa;
    padding-bottom: 10px;
    margin-bottom: 35px; /*for footer*/
}

div.profile-data-div select {
    min-width: 150px;
}