@model Models.Data.PostData

<div class="post">
    <div class="post-header">@Model.Title</div>
    <div class="post-content">
        @RenderBody()
    </div>
</div>

@Styles.Render("~/Pages/Shared/_PostLayout/css")