@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="left-div">
    <div class="filter-div">
        <p>
            Страны:
        </p>
        <p>
            <select>
                <option>Все страны</option>
                <option>Мои страны</option>
            </select>
        </p>
        <p>
            Отсортировать по:
        </p>
        <p>
            <select>
                <option>Времени</option>
                <option>Рейтингу</option>
            </select>
        </p>
        <p>
            Не показывать посты с рейтингом ниже:
        </p>
        <p>
            <input type="number" value="-5"/>
        </p>
    </div>
    
    <div class="post-tools-div">
        <input class="refresh" type="submit" value="" title="Обновить посты, используя фильтры"/>
        <a class="add-new-post" title="Добавить новый пост" href="@Url.Action("Index", "AddPost")"></a>
    </div>
</div>

<div id="post-list-div">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/Shared/_PostListLayout")
